@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Unique Customer System</h1>
        <p class="lead">Sistema para cadastro de clientes, de uma maneira simples.</p>
        
    </section>

    <div class="row">
        <section class="col-md-12" aria-labelledby="gettingStartedTitle">
            <p>
                O Unique Customer System é uma solução inovadora desenvolvida para simplificar e otimizar a gestão de clientes.
                Com uma interface intuitiva e funcionalidades avançadas, nosso sistema permite que as empresas gerenciem suas informações de
                clientes de maneira eficiente e segura. Desde o cadastro inicial até a atualização de dados e gestão de históricos,
                o Unique Customer System oferece ferramentas robustas para assegurar que cada interação com o cliente seja registrada e
                acessível de forma rápida e organizada. Ideal para empresas que buscam aprimorar a experiência do cliente e maximizar a
                eficiência operacional, o Unique Customer System é a escolha certa para transformar a forma como você gerencia seu negócio.
            </p>
        </section>        
    </div>
</main>