@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row text-center" aria-labelledby="aspnetTitle">
        <h1 id="title">Unique Customer System</h1>
        <p class="lead">System for customer registration, in a simple way.</p>

    </section><br><br><br><br>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <p>
                The Unique Customer System is an innovative solution developed to simplify and optimize customer management. With an intuitive interface and advanced functionalities, our system allows companies to manage their customer information efficiently and securely.
            </p>
        </section>
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <p>
                From initial registration to data updating and history management, the Unique Customer System offers robust tools to ensure that each customer interaction is recorded and accessible in a quick and organized way.
            </p>
        </section>
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <p>
                Ideal for companies looking to improve the customer experience and maximize operational efficiency, the Unique Customer System is the right choice to transform the way you manage your business.
            </p>
        </section>
    </div>
</main>
